<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <h2>Welcome to the Pokemon Sanctuary.</h2>
    <h1>Here is a list of our current Pokemon:</h1>
   
    <table>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    
    {% for item in data %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td></tr>
        <td> <a href="/update/{{item.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{item.id}}">Edit</a>
            <a href="/delete/{{item.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure You Want To Delete ?')">Delete</a></td>
{% endfor %}

</table>

{% block content %}
    <form method="POST">
        {{ form.as_p }}
        <input type="submit" value="Add dog">
    </form>
{% endblock content %}

</body>
</html>